.modal-backdrop {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Modal {
  background-color: white;
  max-width: calc(100vw - 32px);
  max-height: calc(100vh - 32px);
  flex: 0 0 auto;
  overflow: hidden;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.modal-backdrop > .Modal > .modal-header {
  border-bottom-color: #e1e1e1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 8px;
  display: flex;
}

.modal-backdrop > .Modal > .modal-body {
  flex: 1 1 auto;
  padding: 8px 8px 8px 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-backdrop > .Modal > .modal-footer {
  border-top-color: #e1e1e1;
  border-top-width: 1px;
  border-top-style: solid;
  padding: 8px;
  display: flex;
  /*justify-content: flex-end;*/
}

.IngredientModal {
  width: 600px;
  height: 700px;
}

.RecipeModal {
  width: 1200px;
  height: 700px;
}

.Modal > .modal-body > .body-top {
  padding-bottom: 8px;
}

.Modal > .modal-body > .body-top > .search-input {
  margin-right: 8px;
}
.Modal .content-list {
  margin-right: -8px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Modal .content-list > table {
  width: 100%;
  flex: 1 1 auto;
}

.Modal .content-list tr:hover {
  background-color: cornflowerblue;
}

.Modal .content-list tr.marked {
  background-color: rgba(100, 149, 237, 0.21);
}

.Modal .content-list tr.marked:hover {
  background-color: cornflowerblue;
}

.Modal.SummaryModal .modal-footer {
  display: flex;
  justify-content: space-between;
}
