.View {
  background-color: white;
  padding: 8px;
  padding-right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.View.ViewMapping {
  flex: 1 1;
  border-right: #e1e1e1 1px solid;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.View.ViewTree {
  flex: 2 2;
  border-right: #e1e1e1 1px solid;
}

.View.ViewSummary {
  flex: 1 1;
  border-right: #e1e1e1 1px solid;
}

.View.ViewInstructions {
  flex: 1 1;
  border-right: #e1e1e1 1px solid;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.View > .view-header {
  display: flex;
  margin-right: 8px;
  border-bottom: #e1e1e1 1px solid;
  border-bottom-right-radius: 4px;
}

.View > .view-header > .title {
  flex: 1;
}

.View.ViewTree .view-tree-node {
  display: flex;
  cursor: pointer;
}

.View.ViewTree .view-tree-node:hover {
  background-color: cornflowerblue;
  color: white;
}

.View.ViewMapping .view-mapping-entry {
  display: flex;
  justify-content: space-between;
}

.View.ViewMapping .view-mapping-entry-name {
  cursor: help;
}

.View.ViewMapping .view-mapping-entry:hover {
  background-color: cornflowerblue;
  color: white;
}

.View.ViewMapping .view-mapping-entry > .remove-button {
  cursor: pointer;
  color: transparent;
}

.View.ViewMapping .view-mapping-entry:hover > .remove-button {
  color: white;
}

.View.ViewMapping .view-mapping-entry > .remove-button:hover {
  border-radius: 4px;
  color: #ff2b1d;
}

.View.ViewMapping .view-mapping-entry > .remove-button:focus {
  border-radius: 4px;
  color: #ff2b1d;
}

.View.ViewMapping .view-mapping-entry > .remove-button:active {
  background-color: #ff2b1d;
  color: white;
}
