.View {
  background-color: white;
  padding: 8px;
  padding-right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.View.ViewMapping {
  flex: 1 1;
  border-right: #e1e1e1 1px solid;
  /*border-top-left-radius: 2px;*/
  /*border-bottom-left-radius: 2px;*/
}

.View.ViewTree {
  flex: 2 2;
  border-right: #e1e1e1 1px solid;
}

.View.ViewSummary {
  flex: 1 1;
  border-right: #e1e1e1 1px solid;
}

.View.ViewInstructions {
  flex: 1 1;
  border-right: #e1e1e1 1px solid;
  /*border-top-right-radius: 2px;*/
  /*border-bottom-right-radius: 2px;*/
}

.View > .view-header {
  display: flex;
  margin-right: 8px;
  border-bottom: #e1e1e1 1px solid;
  border-bottom-right-radius: 4px;
}

.View > .view-header > .title {
  flex: 1;
}

.View > .view-header > .title .help-icon {
  color: #969696;
  font-size: 16px;
  cursor: help;
}

.View.ViewTree .view-entry {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.View.ViewTree .view-entry:hover {
  background-color: cornflowerblue;
  color: white;
}

.View.ViewTree .view-entry small {
  font-size: 10px;
  color: #969696;
  margin-left: 4px;
}

.View.ViewTree .view-entry:hover small {
  color: white;
}

.View.ViewMapping .view-entry {
  display: flex;
  justify-content: space-between;
}

.View.ViewMapping .view-entry {
  cursor: default;
}

.View.ViewMapping .view-entry:hover {
  background-color: cornflowerblue;
  color: white;
}

.View .view-entry > .icon-button {
  cursor: pointer;
  /*color: transparent;*/
  color: #969696;
  margin-right: 1px;
  margin-top: 1px;
  border-radius: 4px;
  width: 20px;
  height: 20px;
}

.View .view-entry:hover > .icon-button {
  border-radius: 4px;
  color: white;
}

.View .view-entry > .icon-button:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.View .view-entry > .icon-button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.View .view-entry > .icon-button:hover.error {
  color: #ff2b1d;
  background-color: rgba(255, 43, 29, 0.2);
}

.View .view-entry > .icon-button:active.error {
  background-color: rgba(255, 43, 29, 0.4);
}

.View.ViewSummary .view-entry {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

.View.ViewSummary .view-entry:hover {
  background-color: cornflowerblue;
  color: white;
}

.View.ViewSummary .view-entry small {
  font-size: 10px;
  color: #969696;
  margin-left: 4px;
  margin-right: 4px;
}

.View.ViewSummary .view-entry:hover small {
  color: white;
}

.View.ViewSummary .view-summary-group {
  font-weight: 600;
  border-bottom: #e1e1e1 1px solid;
  margin-top: 8px;
}
